<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joy Powell's Mail</title>
</head>
<body>
    <div class="p">
        <% d.map((u) => { %>
            <div>
                <p class="d"><%- JSON.stringify(u)%></p>
            </div>
       <% })%>
    </div>
    <script>
        const { log } = console;
        
        // let f = "./"
    </script>
</body>
</html>