<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Security-Policy" content="style-src 'self'; script-src 'self'"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <title><%- title %></title>
    </head>
    <body>
        <div class="s"></div>
        <div class="t">
            <div>Joy Powell</div>
        </div>
        <div class="bo">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="pw">
            <input type="text" name="pw"/>
            <div class="l">
                <div>Password</div>
            </div>
        </div>
        <div class="bg"></div>
        <div class="a"></div>

        <script src="/js/index.js"></script>
    </body>
</html>